<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mood.example.dao.ExampleModelMapper">
    <resultMap id="BaseResultMap" type="com.mood.example.model.ExampleModel">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="examine_status" property="examineStatus" />
        <result column="examine_time"  property="examineTime" />
        <result column="succeed_time"  property="succeedTime" />
        <result column="propose_time"  property="proposeTime" />
        <result column="create_time"  property="createTime" />
        <result column="update_time"  property="updateTime" />
        <result column="city"  property="city" />
        <result column="source"  property="source" />
    </resultMap>
    <sql id="base_Column_List">
        examine_status AS examineStatus,examine_time AS examineTime,succeed_time AS succeedTime
        ,propose_time AS proposeTime,create_time AS createTime ,update_time AS updateTime,city,source
    </sql>
    <select id="queryOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="base_Column_List" />
        from examine
        WHERE id = #{OrderId}
        limit 1;
    </select>
</mapper>